<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <title>Invitation to NUSIS 2025 – TeamNUS Shooting</title>
  </head>
  <body>
    <p>Dear Teachers-in-Charge of {{recipientSchool}},</p>

  <p>TeamNUS Shooting is pleased to invite {{recipientSchool}} to participate in the NUS Invitational Shoot (NUSIS) 2025.</p>

  <p>This year, NUSIS 2025 will be held as a physical shoot. The details of the event are as follows:</p>

  <p>Date<br>Sunday, 23rd February 2025 – Wednesday, 26th February 2025</p>

  <p>Venue<br>SAFRA Yishun Indoor Air Weapons Shooting Range</p>

  <p>The General Information for NUSIS 2025 is attached to this email in PDF format. Please take some time to read through the General Information.</p>

    <p>APPLICATION</p>

  <p>Application for the competition may only be done via the following link:<br><a href="https://nus.campuslabs.com/engage/submitter/form/start/660208">https://nus.campuslabs.com/engage/submitter/form/start/660208</a></p>

  <p>The registration window will open from Thursday, 2nd January 2025 to Friday, 17th January 2025.</p>

    <p>REGISTRATION FEES</p>

  <p>Exclusive of GST:<br>
  - School: Individual S$50.00/-, Team of 3 S$140.00/-<br>
  - Open: Individual S$60.00/-, Team of 3 S$170.00/-</p>

  <p>Inclusive of GST:<br>
  - School: Individual S$54.50/-, Team of 3 S$152.60/-<br>
  - Open: Individual S$65.40/-, Team of 3 S$185.30/-</p>

    <p>APPLICANT ELIGIBILITY</p>

    <p>All applicants must be either:<br>
    1. Students of a MOE school or Polytechnic; OR<br>
    2. Members of a Singapore Shooting Association (SSA) Member Club (see SSA website).</p>

    <p>In addition, all applicants must be:<br>
    1. 10 years of age and above.</p>

    <p>Applicants who do not meet any of the conditions stated above may be considered on a case-by-case basis at the discretion of the Organising Committee.</p>

  <p>Important information to note:<br>
  - Teachers-in-charge / Persons-in-charge must fill in the Word document attached in this email titled "NUSIS 2025 Participants' Information" and upload the completed form to the relevant page in the registration form. No other modes of submission will be accepted.<br>
    - Multiple teams may be registered but only the first team representing the institution for each event will be given confirmed participation. Subsequent teams will be subject to lane availability and registration timing.<br>
    - A Letter of Confirmation will be sent via email at a later date to confirm the list of accepted applicants together with payment details. Payment is to be made after you receive the Letter of Confirmation.<br>
  - Detailing requests will ONLY be considered if entered in the "NUSIS 2025 Participants' Information" form under the "Additional Remarks" column.</p>

  <p>If you have any enquiries, please email us at <a href="mailto:nusinvitationalshoot@gmail.com">nusinvitationalshoot@gmail.com</a> or <a href="mailto:nusisregister@gmail.com">nusisregister@gmail.com</a>, and we will attend to you as soon as possible.</p>

    <p>Best Regards,<br>
    {{signoffName}}<br>
    {{signoffRole}}<br>
    {{signoffOrg}}</p>
  </body>
</html>
